.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
     position: absolute;
}


.btn{
    width:50%;
}

.recapModal{
    font-family: 'Lato', sans-serif;
}
